* {
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background: url(assets/background-image.jpg) no-repeat center/cover;
  height: 100vh;
  
  display: grid;
  place-content: center;

}

h1 {
  color: #151718;
  font-weight: 700;
  font-size: 64px;
  line-height: 120px;
}

span {
  color: #DB2777;
}

p {
  font-family: 'Inter', sans-serif;
  color: #2C2E2F;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  margin-bottom: 72px;
}

a {
  color: #151718;
  padding: 16px 32px;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
}

a:hover,
.btn-primary {
  background: #DB2777;
  border-radius: 50px;
  color: #0B0C0E;
  text-decoration: none;
}